<div class="flex-spinner" *ngIf="renderedSpinner">
  <span class="spinner spinner-inverse">
    Loading...
  </span>
  <span>
    Loading...
  </span>
</div>
<div class="clr-row">
  <div *ngFor="let actor of displayedActorsData " class="clr-col-md-3">
    <app-actor-item [actorItem]="actor"></app-actor-item>
  <!-- <mat-card *ngIf="isShowAlert"> -->
    <h5 *ngIf="isShowAlert">
      Таких акторів не знайдено
    </h5>
  <!-- </mat-card> -->
  </div>
</div>
<div class="btn-addMoreActors">
  <button mat-stroked-button (click)="addMoreActors()">{{btn_title}}</button>
</div>
