.grid{
  margin-top:40px;
  
}
.flex-spinner{
    display: flex;
  justify-content: center;
  background-color: rgb(255, 208, 0);
  padding:20px 20px;
}
.btn-addMoreActors{
  text-align: center;
  margin-top:40px;
  margin-bottom:40px;
  
}
.btn-addMoreActors button{
  color:rgb(240, 133, 133);
  background-color: rgb(39, 39, 180);
}