.example-card {
    margin-top:40px;  
    /* margin-left:20px; */
    background: linear-gradient(to right, rgb(126, 198, 211), rgb(83, 132, 141));
    
  }
  mat-card-title{
    margin-top:10px;
  }
  .button_favorite{
    margin-bottom:15px;
  }
  .button_bookmark{
    margin-bottom:15px;
  }
  .flex-spinner{
    display: flex;
  justify-content: center;
}
.subtitle, p{
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .redText{
  color:red;
} */
.favorite{
  color: red;
}
.bookmark{
color:#11f761 ;
}
