.toolbar-row{
    height:90px;
    background: linear-gradient(to left, #795548, #D7CCC8);
    
}
.flex-spinner{
    display: flex;
  justify-content: center;
}

.toAllFilms{
    margin-left: 220px;
    /* text-align: right; */
    color:black;
}
.toAllFilms:hover{
    cursor: pointer;
    color:red;    
}
.toAllFilms:active{
    cursor: pointer;
    color:#00897B;    
}
.select{
    text-align:right;
    margin-left:800px;
    width:200px;
}
.example-full-width{
    width:600px;
}
.select[placeholder]{
    color:#00897B;
}
.warn{
    color:#E91E63;
}
.grid{
    margin-top:40px;
    
}

h5{
    color:red;
}
.btn-addYetFilms{
    text-align: center;
    margin-top:40px;
    margin-bottom:40px;
    
}
.btn-addYetFilms button{
    color:rgb(240, 133, 133);
    background-color: rgb(39, 39, 180);
}