<!-- <app-seach></app-seach> -->
<mat-card class="menu-card">
  
    <form class="example-form toolbar-row">

      <mat-form-field align="start" class="example-full-width">
          <input type="text" matInput #message name="inputName" [(ngModel)]="inputName"   minlength="3"
          (keyup.enter)="searchFilm()"
          placeholder="Пошук фільму">
        <!-- [(ngModel)]="message.value" -->
        <mat-hint align="start">
          <strong>Не меньше 3 символів</strong>
        </mat-hint>
        <mat-hint align="end" >{{message.value.length}} / 3</mat-hint>

      </mat-form-field>
    <mat-hint class="toAllFilms" align="end" (click)="toAllFilms()">Загальний список фільмів</mat-hint> 

        <mat-select  align="end" class="select" [(value)]="selectedOption" placeholder="Сортування">
       
          <mat-option *ngFor="let state of states" class="sort" [value]="state.value" (click) = "mySort()">{{state.choice}}</mat-option>
        </mat-select>
    </form>
    </mat-card>

<!-- якщо ng-container то css правила по класу не працюють??? -->
<div class="flex-spinner" *ngIf = "renderedFilms">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

  <mat-grid-list class="grid" cols="4" rowHeight="600px">
    <mat-grid-tile *ngFor="let film of displayedFilmsData">
      <!-- | slice:0:secondArgSlice -->
      <app-film-item [filmItem]="film"></app-film-item>
      <!-- каунтер пока закоментовано, взвязку з відсутністю поля isFavorite в даних з серверу -->
      <!-- (updateCounter)="addFilmObj($event)" -->
    </mat-grid-tile>
    <mat-card *ngIf="isShowAlert">
      <h5>
        Фільмів з такою назвою не знайдено
      </h5>
    </mat-card>
  </mat-grid-list>

  <div class="btn-addYetFilms" >
    <button mat-stroked-button (click)="addMoreFilms()">{{btn_title}}</button>
  <!--   не можу задати умову щоб встановити  disabled
    [disabled]=" secondArgSlice < displayedFilmsData.length ? !disabled : disabled"-->
   </div> 