<mat-card class="menu-card">
  <form class="example-form toolbar-row">

      <app-search (simbolSearch)="lookFor($event)"></app-search>

    <mat-hint class="toAllFilms" align="end" (click)="toAllActors()" (click)="toAllFilms()">Повернутися до списку</mat-hint>

    <mat-select align="end" class="select" [(value)]="selectedOption" placeholder="">

      <mat-option *ngFor="let state of states" [value]="state.value" (click)="mySort()">{{state.choice}}</mat-option>
    </mat-select>
  </form>
</mat-card>

<!-- якщо ng-container то css правила по класу не працюють??? -->
<div class="flex-spinner" *ngIf="renderedSpinner">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<ng-container *ngIf="isFilms">

  <mat-grid-list class="grid" cols="4" rowHeight="600px">
    <mat-grid-tile *ngFor="let film of displayedFilmsData">
      <app-film-item [filmItem]="film"></app-film-item>
      <!-- каунтер пока закоментовано, взвязку з відсутністю поля isFavorite в даних з серверу -->
      <!-- (updateCounter)="addFilmObj($event)" -->
    </mat-grid-tile>
    <mat-card *ngIf="isShowAlert">
      <h5>
        Фільмів з такою назвою не знайдено
      </h5>
    </mat-card>
  </mat-grid-list>
  <!-- кнопку підгрузки потрібно прописати окремо і в Фільми, і окремо в Актори -->
  <div class="btn-addYetFilms">
    <button mat-stroked-button (click)="addMoreFilms()" >{{btn_title}}</button>
  </div>
</ng-container>
<!-- <div class="flex-spinner" *ngIf = "renderedActors">
    <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>

</div> -->
<ng-container *ngIf="isActors">
  <mat-grid-list class="grid" cols="5" rowHeight="450px">
    <mat-grid-tile *ngFor="let actor of displayedActorsData ">
      <app-actor-item [actorItem]="actor"></app-actor-item>
    </mat-grid-tile>
    <mat-card *ngIf="isShowAlert">
      <h5>
        Таких акторів не знайдено
      </h5>
    </mat-card>
  </mat-grid-list>
  <div class="btn-addYetFilms">
    <button mat-stroked-button (click)="addMoreActors()" >{{btn_title}}</button>
  </div>
</ng-container>

