<!-- якщо ng-container то css правила по класу не працюють??? -->

<div class="flex-spinner" *ngIf="renderedSpinner">
  <span class="spinner spinner-inverse"> Loading... </span>
  <span> Loading... </span>
</div>

<div class="clr-row grid" rowHeight="750px">

  <div class="clr-col-12 alert alert-danger" *ngIf="isShowAlert">
    <div class="alert-items">
      <div class="alert-item static">
        <h5>Фільмів з такою назвою не знайдено</h5>
      </div>
    </div>
  </div>

  <div class="clr-col-12 alert alert-success" *ngIf="isFullList">
    <div class="alert-items">
      <div class="alert-item static">
        <h5 class="alert-text full-list" (click)="addMoreFilms(); isFullList = false">
          Завантажити весь список
        </h5>
      </div>
    </div>
  </div>
  <div class="clr-col-md-3" *ngFor="let film of displayedFilmsData">
    <app-film-item class="film" [filmItem]="film" (click)="moveToFilm(film.id,film)"></app-film-item>
  </div>
</div>
<!-- <app-film-detailed></app-film-detailed> -->
<!--
  кнопку підгрузки потрібно прописати окремо і в Фільми, і окремо в Актори
-->
<div class="btn-addYetFilms">
  <button mat-stroked-button (click)="addMoreFilms()">{{ btn_title }}</button>
</div>