.toolbar-row{
    height:90px;
    background: linear-gradient(to left, #795548, #D7CCC8);

}
.flex-spinner{
    display: flex;
  justify-content: center;
  background-color: rgb(255, 208, 0);
  padding:20px 20px;
}

.example-full-width{
    width:600px;
}
.clr-row{
    margin-right:0;
    margin-left:0;
  }
.grid{
    margin-top:40px;
}
.film{
    cursor:pointer;
}
.clr-col-12{
  margin-top:0 !important;
}
h5 {color:green; text-align:center;}

.full-list:hover{
  cursor: pointer;
  color:purple
}
.full-list:active{
  color:red;
}

.btn-addYetFilms{
    text-align: center;
    margin-top:40px;
    margin-bottom:40px;

}
.arrow-top{
  margin-right:15px;
  cursor:pointer;
}
.btn-addYetFilms button{
    color:rgb(240, 133, 133);
    background-color: rgb(39, 39, 180);
}


